---
layout: layout
---
    <div id="promo-slider" class="slider flexslider">
        <ul class="slides">
            <li>
                <img src="static/assets/images/general-pics/Homepageslide_1.jpg" alt=""/>

                <p class="flex-caption">
                    <span class="main">New Members Welcome!</span>
                    <br/>
                    <span class="secondary clearfix">Hello Broncos! Whether you’re a new, renewing, or prospective member, we welcome you to SWIFT for a new year of studies.</span>
                </p>
            </li>
            <li>
                <img src="static/assets/images/slides/p4tches.jpg" alt=""/>

                <p class="flex-caption">
                    <span class="main">Come to our Open Meetings</span>
                    <br/>
		    <span class="secondary clearfix">SWIFT general meetings are {% include text_meeting_location.html %}</span>
                </p>
            </li>
            <li>
                <img src="static/assets/images/general-pics/Homepageslide_3.jpg" alt=""/>

                <p class="flex-caption">
                    <span class="main">Compete</span>
                    <br/>
                    <span class="secondary clearfix">Think you are the baddest in the bunch? Maybe you just want to see how your skills compare to others. Join one of our teams for competitions.</span>
                </p>
            </li>
	    <!--
            <li>
                <img src="static/assets/images/slides/fragnite-1.jpg" alt=""/>

                <p class="flex-caption">
                    <span class="main">Play at FragNite</span>
                    <br/>
                    <span class="secondary clearfix">Join in on the fun at the quarterly LAN Party.</span>
                </p>
            </li>
	    -->
        </ul>
        <!--//slides-->
    </div>
    <section class="promo box box-theme">
        <h1 class="section-heading">What is SWIFT?</h1>

        <p>Students with an Interest in the Future of Technology is the premier information technology and security organization at Cal Poly Pomona. We aim to inspire and create a generation of students who are aware and capable of dealing with the dynamic landscape of information security, cyber security, and information technology. Together we can build a secure future through training, experience, and education.</p>
    </section>
    <div class="row row-eq-height">
        <div class="col-md-3">
            <section class="section-content">
                <a href="calendar.html"><h1>Meetings</h1></a>

                <p>Come to our weekly meetings where we present and discuss topics focusing on cyber security, networking, system administration, and automation. We host peers and industry leaders in the field to give our members an insight to the professional world of technology.</p>
            </section>
        </div>
        <div class="col-md-3">
            <section class="section-content">
                <a href="calendar.html"><h1>Events</h1></a>

                <p>We hold basic and advanced weekly workshops cover topics such as using Linux, internet of things, and network forensics, an annual on-campus, student-run conference, Tech Symposium, and a quarterly LAN party, Frag Nite, held in conjunction with CPP E-Sports.</p>
            </section>
        </div>
        <div class="col-md-3">
            <section class="section-content">
                <a href="#"><h1>Competitions</h1></a>

                <p>Take your skill to the next level with challenges that put you up against the best in the field. Apply your skills building defensive networks, or be offensive and attack them. Our CCDC team will train you from the ground up.</p>
            </section>
        </div>
        <div class="col-md-3">
            <section class="section-content">
                <a href="membership.html"><h1>Membership</h1></a>

                <p>If you like learning new topics, solving problems, breaking things, being with fellow hackers, get involved! Our membership provides you with resources to enhance your college experience and your professional outlook. <a href="membership.html">Sign up today!</a></p>
            </section>
        </div>
    </div>
    <!--//flexslider-->
    <section class="promo box box-dark">
        <div class="col-md-6 pull-left">
            <h1 class="section-heading">Attend a Swift Meeting!</h1>

            <p>SWIFT general meetings are {% include text_meeting_location.html %}</p>
        </div>
        <div class="col-lg-3 pull-right">
            <a class="btn btn-cta" href="calendar.html"><i class="fa fa-play-circle"></i>Upcoming Meetings</a>
        </div>
    </section>
