<section class="links">
    <h1 class="section-heading text-highlight"><span class="line">Quick Links</span></h1>

    <div class="section-content">
        <p><a href="membership.html"><i class="fa fa-caret-right"></i>Membership</a></p>

        <p><a href="general_meetings.html"><i class="fa fa-caret-right"></i>General Meetings</a></p>

        <p><a href="faq.html"><i class="fa fa-caret-right"></i>Frequently asked Questions</a></p>

        <p><a href="contact.html"><i class="fa fa-caret-right"></i>Contact</a></p>
    </div>
    <!--//section-content-->
</section>