{% extends "layout.html" %}
{% block content %}
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">E-Board</h1>

            <div class="breadcrumbs pull-right">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-label">You are here:</li>
                    <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                    <li class="current">E-Board</li>
                </ul>
            </div>
            <!--//breadcrumbs-->
        </header>
        <div class="page-content">
            <div class="row page-row">
                <div class="team-wrapper col-md-8 col-sm-7">
                    <div class="row page-row">
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Benjamin Dillon</h3>
                            <h4>President</h4>
                        </div>
                    </div>
                    <div class="row page-row">
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Laura Menchen</h3>
                            <h4>Executive Vice President</h4>
                        </div>
                    </div>
                    <div class="row page-row">
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Aina Tamayo</h3>
                            <h4>CCDC</h4>
                        </div>
                    </div>
                    <div class="row page-row">
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Mitchell Tamblyn</h3>
                            <h4>Systems Administrator and Webmaster</h4>
                        </div>
                    </div>
                    <div class="row page-row">
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Cassandra Cao</h3>
                            <h4>Treasurer</h4>
                        </div>
                    </div>
                    <div class="row page-row">
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Jonathan Aun</h3>
                            <h4>Deputy Treasurer</h4>
                        </div>
                    </div>
                    <div class="row page-row">
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Joseph Dillon</h3>
                            <h4>SWIFT Academy</h4>
                        </div>
                    </div>
                    <div class="row page-row">
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Sean Vo</h3>
                            <h4>Director of Events</h4>
                        </div>
                    </div>
                    <div class="row page-row">
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Jordan Hsieh</h3>
                            <h4>Director of Marketing</h4>
                        </div>
                    </div>
                    <div class="row page-row">
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Jenna Pham</h3>
                            <h4>Secretary of "Something"</h4>
                        </div>
                    </div>
                    <div class="row page-row">
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Brandon Sakamoto</h3>
                            <h4>Vice President of Operations</h4>
                        </div>
                    </div>
                    <div class="row page-row">
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Kyle Keagy</h3>
                            <h4>Director of Operations</h4>
                        </div>
                    </div>
                    <div class="row page-row">
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Miguel Martinez</h3>
                            <h4>Deputy of Operations</h4>
                        </div>
                    </div>
                    <div class="row page-row">
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Jonathan Ivy</h3>
                            <h4>Director of Logistics</h4>
                        </div>
                    </div>
                    <div class="row page-row">
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Jimmy Pham</h3>
                            <h4>Deputy of Logistics</h4>
                        </div>
                    </div>
                    <div class="row page-row">
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Jose Nares-Garcia</h3>
                            <h4>Operations Secretary/ Technical Writer</h4>
                        </div>
                    </div>
                    <div class="row page-row">
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Jonathan Maxwell</h3>
                            <h4>Director of SWIFT Labs</h4>
                        </div>
                    </div>
                </div>
                <!--//team-wrapper-->
                {% include "sidebar1.html" %}
            </div>
            <!--//page-row-->
        </div>
        <!--//page-content-->
    </div>
    <!--//page-->
{% endblock %}
