{% extends "layout.html" %}
{% block content %}
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">E-Board</h1>

            <div class="breadcrumbs pull-right">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-label">You are here:</li>
                    <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                    <li class="current">E-Board</li>
                </ul>
            </div>
            <!--//breadcrumbs-->
        </header>
        <div class="page-content">
            <div class="row page-row">
                <div class="team-wrapper col-md-8 col-sm-7">
                    <div class="row page-row">
                        <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                            <img class="img-responsive" src="static/assets/images/eboard/ben-mr_clever.png" alt=""/>
                        </figure>
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Benjamin Dillon</h3>
                            <h4>President</h4>

                            <p>Ben is Goofy..</p>
                        </div>
                    </div>
                    <div class="row page-row">
                        <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                            <img class="img-responsive" src="static/assets/images/team/team-4.jpg" alt=""/>
                        </figure>
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Teresa Paraspolo</h3>
                            <h4>Vice President</h4>

                            <p>Works under Ben acting as a bulldog.</p>
                        </div>
                    </div>
                    <div class="row page-row">
                        <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                            <img class="img-responsive" src="static/assets/images/team/team-2.jpg" alt=""/>
                        </figure>
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Mitchell Tamblyn</h3>
                            <h4>Systems Administrator / Webmaster</h4>

                            <p>By reading this you agree to join SWIFT.</p>
                        </div>
                    </div>
                    <div class="row page-row">
                        <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                            <img class="img-responsive" src="static/assets/images/eboard/cassandra-luciae.png" alt=""/>
                        </figure>
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Cassandra Cao</h3>
                            <h4>Treasurer</h4>

                            <p>REDACTED.</p>
                        </div>
                    </div>
                    <div class="row page-row">
                        <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                            <img class="img-responsive" src="static/assets/images/team/team-3.jpg" alt=""/>
                        </figure>
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Adam Cupingood</h3>
                            <h4>VP of Communcations</h4>

                            <p>REDACTED.</p>
                        </div>
                    </div>
                    <div class="row page-row">
                        <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                            <img class="img-responsive" src="static/assets/images/eboard/adolfo-spidey.png" alt=""/>
                        </figure>
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Adolfo Alarcon</h3>
                            <h4>VP of Events</h4>

                            <p>REDACTED.</p>
                        </div>
                    </div>
                    <div class="row page-row">
                        <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                            <img class="img-responsive" src="static/assets/images/eboard/brandon-shadowghost.png" alt=""/>
                        </figure>
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Brandon Sakamoto</h3>
                            <h4>VP of Operations</h4>

                            <p>REDACTED.</p>
                        </div>
                    </div>
                    <div class="row page-row">
                        <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                            <img class="img-responsive" src="static/assets/images/team/team-3.jpg" alt=""/>
                        </figure>
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Laura Menchen</h3>
                            <h4>Historian</h4>

                            <p>REDACTED.</p>
                        </div>
                    </div>
                    <div class="row page-row">
                        <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                            <img class="img-responsive" src="static/assets/images/team/team-3.jpg" alt=""/>
                        </figure>
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Aina Tamayo</h3>
                            <h4>VP of Marketing</h4>

                            <p>REDACTED.</p>
                        </div>
                    </div>
                    <div class="row page-row">
                        <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                            <img class="img-responsive" src="static/assets/images/eboard/juan-falseshepherd.png" alt=""/>
                        </figure>
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Juan Ortega</h3>
                            <h4>VP of Competitions</h4>

                            <p>REDACTED.</p>
                        </div>
                    </div>
                    <div class="row page-row">
                        <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                            <img class="img-responsive" src="static/assets/images/team/team-3.jpg" alt=""/>
                        </figure>
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Chris Guerra</h3>
                            <h4>FragNite Coordinator</h4>

                            <p>REDACTED.</p>
                        </div>
                    </div>
                    <div class="row page-row">
                        <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                            <img class="img-responsive" src="static/assets/images/team/team-3.jpg" alt=""/>
                        </figure>
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Jose Garcia Hernandez</h3>
                            <h4>Director of Swift Academy</h4>

                            <p>REDACTED.</p>
                        </div>
                    </div>
                    <div class="row page-row">
                        <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                            <img class="img-responsive" src="static/assets/images/eboard/emmanuel-zaza.png" alt=""/>
                        </figure>
                        <div class="details col-md-9 col-sm-8 col-xs-6">
                            <h3 class="title">Emmanuel Medina</h3>
                            <h4>CTF Captain</h4>

                            <p>REDACTED.</p>
                        </div>
                    </div>
                </div>
                <!--//team-wrapper-->
                {% include "sidebar1.html" %}
            </div>
            <!--//page-row-->
        </div>
        <!--//page-content-->
    </div>
    <!--//page-->
{% endblock %}
