{% extends "layout.html" %}
{% block content %}
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">Frequently Asked Questions</h1>

            <div class="breadcrumbs pull-right">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-label">You are here:</li>
                    <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                    <li class="current">FAQ</li>
                </ul>
            </div>
            <!--//breadcrumbs-->
        </header>
        <div class="page-content">
            <div class="row page-row">
                <div class="faq-wrapper col-md-8 col-sm-7">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                                        Why should I join?
                                    </a>
                                </h4>
                            </div>
                            <!--//pane-heading-->
                            <div id="collapse-1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>
                                        SWIFT is not just another club to add to your resume. We are a community of
                                        motivated students with one passion, learning technology. By joining SWIFT, you
                                        will be around highly motivated students who share the same passions in cyber
                                        security, system administration, networking and of course hacking ALL THINGS. As
                                        a member, you can ensure that your member fees will not be wasted. You will have
                                        got to attend talks featuring from topics such as car hacking, mobile
                                        applications, penetration testing, and opportunities to network with industry
                                        professionals who can land you awesome jobs.
                                    </p>

                                    <p>
                                        We also like to have fun, every quarter we host SWIFT exclusive events
                                        including: Tech Symposium, FragNite, SWIFT Academy, tech conferences, hands on
                                        Red Team workshops and of course free pizza every Tuesday! You will not regret
                                        ever joining; there is always something to be learned. Be a part of the next
                                        generation of Cyber experts. Join SWIFT today!
                                    </p>
                                </div>
                                <!--//panel-body-->
                            </div>
                            <!--//panel-colapse-->
                        </div>
                        <!--//panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                                       href="#collapse-2">
                                        How much does it cost?
                                    </a>
                                </h4>
                            </div>
                            <!--//pane-heading-->
                            <div id="collapse-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    To join SWIFT it is a yearly cost of <b>$35 per year</b>. CASH or Paypal only
                                    please. Additional shirts are $10/each.
                                </div>
                                <!--//panel-body-->
                            </div>
                            <!--//panel-colapse-->
                        </div>
                        <!--//panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                                       href="#collapse-3">
                                        What benefits do I get being a member?
                                    </a>
                                </h4>
                            </div>
                            <!--//pane-heading-->
                            <div id="collapse-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Rest assured that your membership contribution to SWIFT is well spent. Your
                                    membership provides you with:
                                    {% include "membership_benefits.html" %}
                                </div>
                                <!--//panel-body-->
                            </div>
                            <!--//panel-colapse-->
                        </div>
                        <!--//panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                                       href="#collapse-4">
                                        How do I contribute?
                                    </a>
                                </h4>
                            </div>
                            <!--//pane-heading-->
                            <div id="collapse-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Whether you are an individual or a company, there are many ways you can give to
                                    SWIFT. We are actively looking for speakers, workshops, and other activities as well
                                    as looking for donations of equipment or money. Our many events including Tech
                                    Symposium and SWIFT Academy can be sponsored directly by companies who wish to
                                    participate. All donations will go through the campus 501C3. For further
                                    information, please contact us!
                                </div>
                                <!--//panel-body-->
                            </div>
                            <!--//panel-colapse-->
                        </div>
                        <!--//panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                                       href="#collapse-5">
                                        Can I be part of the SWIFT Board?
                                    </a>
                                </h4>
                            </div>
                            <!--//pane-heading-->
                            <div id="collapse-5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Yes! We are constantly recruiting for E-Board positions. Click <a
                                        href="eboard.html">here</a> here for our available E-Board positions. We are
                                    also looking for members to volunteer for your SWIFT events. Click HERE for more
                                    info!
                                </div>
                                <!--//panel-body-->
                            </div>
                            <!--//panel-colapse-->
                        </div>
                        <!--//panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                                       href="#collapse-6">
                                        When was SWIFT Founded?
                                    </a>
                                </h4>
                            </div>
                            <!--//pane-heading-->
                            <div id="collapse-6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    SWIFT was founded in 1992.
                                </div>
                                <!--//panel-body-->
                            </div>
                            <!--//panel-colapse-->
                        </div>
                        <!--//panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                                       href="#collapse-7">
                                        I have a busy schedule, can I still contribute?
                                    </a>
                                </h4>
                            </div>
                            <!--//pane-heading-->
                            <div id="collapse-7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Yes, any help is appreciated. Every event SWIFT hosts requires lots of people to
                                    make it a success. Contact us <a href="contact.html">here</a> to volunteer as a
                                    SWIFT honorary member.
                                </div>
                                <!--//panel-body-->
                            </div>
                            <!--//panel-colapse-->
                        </div>
                        <!--//panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                                       href="#collapse-8">
                                        I am from an organization looking to sponsor SWIFT or the Cal Poly CCDC Team.
                                    </a>
                                </h4>
                            </div>
                            <!--//pane-heading-->
                            <div id="collapse-8" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Any prospective sponsorships: Click <a href="contact.html">here</a>.
                                </div>
                                <!--//panel-body-->
                            </div>
                            <!--//panel-colapse-->
                        </div>
                        <!--//panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                                       href="#collapse-9">
                                        Do you offer help with any academic projects, studies, or research?
                                    </a>
                                </h4>
                            </div>
                            <!--//pane-heading-->
                            <div id="collapse-9" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Yes we do. Please <a href="contact.html">contact us</a> and briefly describe the
                                    project you wish for SWIFT to assist you with.
                                </div>
                                <!--//panel-body-->
                            </div>
                            <!--//panel-colapse-->
                        </div>
                        <!--//panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                                       href="#collapse-10">
                                        Are only certain majors allowed in SWIFT?
                                    </a>
                                </h4>
                            </div>
                            <!--//pane-heading-->
                            <div id="collapse-10" class="panel-collapse collapse">
                                <div class="panel-body">
                                    All majors are welcomed to join SWIFT. In fact, it is encouraged that any
                                    prospective student regardless of their focus of study is encouraged to join.
                                </div>
                                <!--//panel-body-->
                            </div>
                            <!--//panel-colapse-->
                        </div>
                        <!--//panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                                       href="#collapse-11">
                                        Can I learn to become a hacker?
                                    </a>
                                </h4>
                            </div>
                            <!--//pane-heading-->
                            <div id="collapse-11" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Depends on what you mean by “hacker”. But we can recommend <a
                                        href="https://www.youtube.com/watch?v=u8qgehH3kEQ">this video</a> to get
                                    started.
                                    Do you want to learn how attackers gain persistence on systems? Perhaps you want to
                                    learn how a pen tester looks for vulnerabilities on networks and systems. Either way
                                    these skills are necessary as a cyber security professional. Check out our calendar
                                    for upcoming events on Red-Team workshops .We are constantly researching how
                                    attackers use exploits to gain access to systems. In addition, we are looking into
                                    building our own Red-Team to practice against our CCDC team, more info to be
                                    provided soon!
                                    Perhaps you want to be on the defensive side..
                                    There are different strategies to learning on how to protect systems against
                                    attackers. These can include strategies such as Defense in Depth and learning how to
                                    recognize different levels of threat indicators. Either way learning how to defend
                                    systems is a critical skill to have whether you will be a cyber security
                                    professional or just becoming an IT professional in general. Either way, consider
                                    joining Cal Poly’s Cyber Defense team.
                                </div>
                                <!--//panel-body-->
                            </div>
                            <!--//panel-colapse-->
                        </div>
                        <!--//panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                                       href="#collapse-12">
                                        Where are the weekly meetings held?
                                    </a>
                                </h4>
                            </div>
                            <!--//pane-heading-->
                            <div id="collapse-12" class="panel-collapse collapse">
                                <div class="panel-body">
                                    SWIFT general meetings are Tuesdays from 12-1pm in CLA 98P 2 007
                                </div>
                                <!--//panel-body-->
                            </div>
                            <!--//panel-colapse-->
                        </div>
                        <!--//panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                                       href="#collapse-13">
                                        I did not receive SWIFT T-shirt. Where can I get one?
                                    </a>
                                </h4>
                            </div>
                            <!--//pane-heading-->
                            <div id="collapse-13" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Please email swift@cpp.edu with your shirt size and we will have it ready for you by
                                    the next meeting.
                                </div>
                                <!--//panel-body-->
                            </div>
                            <!--//panel-colapse-->
                        </div>
                        <!--//panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                                       href="#collapse-14">
                                        How do you connect to your IRC Channel?
                                    </a>
                                </h4>
                            </div>
                            <!--//pane-heading-->
                            <div id="collapse-14" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Use the IRC icon in the social media header or the connection info here.
                                    Network: irc.freenode.net
                                    Port: 6667
                                    Chan: #swift
                                </div>
                                <!--//panel-body-->
                            </div>
                            <!--//panel-colapse-->
                        </div>
                        <!--//panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                                       href="#collapse-15">
                                        I am not receiving any SWIFT emails.
                                    </a>
                                </h4>
                            </div>
                            <!--//pane-heading-->
                            <div id="collapse-15" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Please ensure you are subscribed to our mailing list by clicking HERE. Also ensure
                                    you have swift@cpp.edu whitelisted. If you are not a Computer Science, Engineering,
                                    or CIS major, please sign up for our mailing list.
                                </div>
                                <!--//panel-body-->
                            </div>
                            <!--//panel-colapse-->
                        </div>
                        <!--//panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                                       href="#collapse-16">
                                        I don’t have access to any CPS related services
                                    </a>
                                </h4>
                            </div>
                            <!--//pane-heading-->
                            <div id="collapse-16" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Email swift@cpp.edu with your name and email and we will look into this for you.
                                </div>
                                <!--//panel-body-->
                            </div>
                            <!--//panel-colapse-->
                        </div>
                        <!--//panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                                       href="#collapse-17">
                                        Do you have a repository for your SWIFT talks?
                                    </a>
                                </h4>
                            </div>
                            <!--//pane-heading-->
                            <div id="collapse-17" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Yes. Please visit our <a href="https://www.youtube.com/user/CalPolySWIFT?">Youtube
                                    channel</a>.
                                </div>
                                <!--//panel-body-->
                            </div>
                            <!--//panel-colapse-->
                        </div>
                        <!--//panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                                       href="#collapse-18">
                                        Any security issues related to SWIFT hosted services?
                                    </a>
                                </h4>
                            </div>
                            <!--//pane-heading-->
                            <div id="collapse-18" class="panel-collapse collapse">
                                <div class="panel-body">
                                    If you find any security related vulnerabilities, we kindly ask if you could report
                                    them to swift@cpp.edu as soon as possible.
                                </div>
                                <!--//panel-body-->
                            </div>
                            <!--//panel-colapse-->
                        </div>
                        <!--//panel-->
                    </div>
                    <!--//panel-group-->
                </div>
                <!--//faq-wrapper-->
                {% include "sidebar1.html" %}
            </div>
            <!--//page-row-->
        </div>
        <!--//page-content-->
    </div><!--//page-->
{% endblock %}
