{% extends "layout.html" %}
{% block content %}
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">General Meetings</h1>

            <div class="breadcrumbs pull-right">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-label">You are here:</li>
                    <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                    <li class="current">General Meetings</li>
                </ul>
            </div>
            <!--//breadcrumbs-->
        </header>
        <div class="page-content">
            <div class="row page-row">
                <article class="welcome col-md-8 col-sm-7">
                    <h3 class="title">General Meetings</h3>

                    <p><img class="img-responsive" src="static/assets/images/750x300-about.jpg" alt=""/></p>

                    <p>SWIFT general meetings are free for anyone to attend. We have an exciting year planned for you.
                        With all new speakers, professional trainings, and some amazing interactive
                        workshops ahead.

                        Whether you're just getting started with cyber security or an already experienced hacker or I.T.
                        guru, SWIFT is here for you. Focusing on systems/network administration and cybersecurity, SWIFT
                        brings together industry best practice and creative research efforts to advance the practice of
                        emerging technologies.

                        Become a SWIFT member today. Members receive special discounts on conferences and trainings as
                        well as access to our private workshops and events. Members also receive access to private job
                        listings at some of the largest companies including Tesla, Facebook, FireEye and more!
                    </p>

                    <blockquote class="custom-quote">
                        <p><i class="fa fa-quote-left"></i>Throughout the years SWIFT has kept current with the
                            fluid pace of technology and industry. It is our goal to both continue these efforts, as
                            well as expand and contribute back to the community. We teach the skills to use computer
                            systems and the skills necessary to learn new systems. In an age when technology changes
                            on a weekly basis, we strive to keep members informed and equipped to thrive in such an
                            environment.</p>

                        <p class="people"><span class="name">Mitchell Tamblyn</span><br><span class="title">Systems Administrator, SWIFT</span>
                        </p>
                    </blockquote>
                    <p>
                        SWIFT holds weekly general meetings with both in-house and external speakers. These meetings
                        cover relevant topics in computer and technology industries. Live demos of software and
                        hardware are common. In addition to the weekly meetings, SWIFT hosts a number of free
                        workshops that teach a variety of skills including Linux installation, network security, and
                        penetration testing. These workshops are hands-on and are designed to let members get
                        hands-on experience with real technology. We also host social events such as a quarterly LAN
                        party.
                    </p>
                    <ul class="custom-list-style">
                        <li><i class="fa fa-check"></i>InstallFest</li>
                        <li><i class="fa fa-check"></i>Technology Symposium</li>
                        <li><i class="fa fa-check"></i>Red Team Workshops</li>
                        <li><i class="fa fa-check"></i>Advanced Linux System Administration Seminar (ALSAS)</li>
                        <li><i class="fa fa-check"></i>FragNite</li>
                    </ul>
                </article>
                <!--//page-content-->
                {% include "sidebars/layouts/sidebar1.html" %}
            </div>
            <!--//page-row-->
        </div>
        <!--//page-content-->
    </div>
    <!--//page-->
{% endblock %}