{% extends "layout.html" %}
{% block content %}
    <div id="promo-slider" class="slider flexslider">
        <ul class="slides">
            <li>
                <img src="static/assets/images/general-pics/cover2.jpg" alt=""/>

                <p class="flex-caption">
                    <span class="main">New Members Welcome!</span>
                    <br/>
                    <span class="secondary clearfix">Hello Broncos! Whether you’re a new, renewing, or prospective member, we welcome you to SWIFT for a new year of studies.</span>
                </p>
            </li>
            <li>
                <img src="static/assets/images/slides/p4tches.jpg" alt=""/>

                <p class="flex-caption">
                    <span class="main">Come to our Open Meetings</span>
                    <br/>
                    <span class="secondary clearfix">SWIFT general meetings are {% include "text_meeting_location.html" %}</span>
                </p>
            </li>
            <li>
                <img src="static/assets/images/general-pics/CCDC_Cropped.jpg" alt=""/>

                <p class="flex-caption">
                    <span class="main">Compete</span>
                    <br/>
                    <span class="secondary clearfix">Think you are the baddest in the bunch? Maybe you just want to see how your skills compare to others. Join one of our teams for competitions.</span>
                </p>
            </li>
            <li>
                <img src="static/assets/images/general-pics/fragnite_cropped.jpg" alt=""/>

                <p class="flex-caption">
                    <span class="main">Play at FragNite</span>
                    <br/>
                    <span class="secondary clearfix">Join in on the fun at the quarterly LAN Party.</span>
                </p>
            </li>
        </ul>
        <!--//slides-->
    </div>
    <section class="promo box box-theme">
        <h1 class="section-heading">What is SWIFT?</h1>

        <p>We are Students with an Interest in the Future of Technology, we are the premier information technology and
            security organization at Cal Poly Pomona. We aim to inspire and create a generation of students who are
            aware and capable of dealing with the dynamic landscape of information security, cyber security, and
            information technology. Together we can build a secure future through training, experience, and education.
            Let's work together to create and learn something new. Don't just take our word for it. Whether you are an
            industry professional or a curious student, take a look at our previous events. While you're at it, come to
            one of our unique workshops, trainings, or conferences and become SWIFT.</p>
    </section>
    <div class="row row-eq-height">
        <div class="col-md-3">
            <section class="section-content">
                <a href="calendar.html"><h1>Meetings</h1></a>

                <p>Ready to be inspired? Come to our weekly meetings where we present and discuss the present and future
                    of technology. With topics focusing on cyber security, networking, system administration, and
                    automation, we have inspiring and innovative talks and discussions that that push the boundaries of
                    our understanding. Learn and discuss from peers and industry leaders topics like Car Hacking, System
                    Defense, and many other areas. <a href="calendar.html">Find out more here!</a></p>
            </section>
        </div>
        <div class="col-md-3">
            <section class="section-content">
                <a href="calendar.html"><h1>Events</h1></a>

                <p>Whether you're learning the basics of Linux, or recovering artifacts from network forensics, or
                    perhaps just want to relax and game, we provide you basic, and advanced, training, workshops, and
                    activities that will help you not only get an edge in security but build friendships that last far
                    beyond Cal Poly. <a href="calendar.html">Find out more here!</a></p>
            </section>
        </div>
        <div class="col-md-3">
            <section class="section-content">
                <a href="#"><h1>Competitions</h1></a>

                <p>Ready to take your skills to the next level? There is no better way to learn than focusing on
                    challenges that put you up against the best in the field. Apply your skills building defensive
                    networks, or be offensive and attack them. It's up to you, come have fun and learn!</p>
            </section>
        </div>
        <div class="col-md-3">
            <section class="section-content">
                <a href="membership.html"><h1>Membership</h1></a>

                <p>If you like learning new topics, solving problems, breaking things, being with fellow hackers, you
                    definitely want to get involved. Our membership provides you with resources to upgrade your college
                    experience, and your professional outlook. Be a part of one of the only student organized DefCon
                    groups in the western US. Join SWIFT today! <a href="membership.html">Find out more here!</a></p>
            </section>
        </div>
    </div>
    <!--//flexslider-->
    <section class="promo box box-dark">
        <div class="col-md-6 pull-left">
            <h1 class="section-heading">Attend a Swift Meeting!</h1>

            <p>SWIFT general meetings are {% include "text_meeting_location.html" %}</p>
        </div>
        <div class="col-lg-3 pull-right">
            <a class="btn btn-cta" href="calendar.html"><i class="fa fa-play-circle"></i>Upcoming Meetings</a>
        </div>
    </section>
    <!--//promo-->
    <div class="row cols-wrapper">
        <div class="col-md-3">
            {% include "twitter_widget.html" %}
            <!--//news-->
        </div>
        <!--//col-md-3-->
        <div class="col-md-6">
            {% include "testimonials.html" %}
            <!--//testimonials-->
            {% include "video_tour.html" %}
            <!--//video-->
        </div>
        <div class="col-md-3">
            {% include "events_widget_dynamic.html" %}
            <!--//events-->
        </div>
        <!--//col-md-3-->
    </div>
    <!--//cols-wrapper-->
    <section class="awards">
        <div id="awards-carousel" class="awards-carousel carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    {% include "sponsors_list_1.html" %}
                    <!--//slides-->
                </div>
                <!--//item-->
            </div>
            <!--//carousel-inner-->
            <a class="left carousel-control" href="#awards-carousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right carousel-control" href="#awards-carousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>

        </div>
    </section>
{% endblock %}
