<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    {% block head %}
        <title>Cal Poly Swift</title>
        <!-- Meta -->
        {% block meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="">
            <meta name="keywords" content="{% block meta_keywords %}Security, System Administration, Network Administration, Hacking, Linux, Windows, Cryptography, Exploitation, Pentesting, Forensics, Incident Response, Reverse Engineering, Networking, Hardware, Arduino, Policy, Virtualization, Cal Poly Pomona, SWIFT, Students with an Interest in the Future of Technology{% block meta_keywords_additions %}{% endblock %}{% endblock %}">
        {% endblock %}
        <link rel="shortcut icon" href="static/assets/images/favicon.ico">
{#        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>#}
        <!-- Global CSS -->
        <link rel="stylesheet" href="static/assets/plugins/bootstrap/css/bootstrap.min.css">
        <!-- Plugins CSS -->
        <link rel="stylesheet" href="static/assets/plugins/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="static/assets/plugins/flexslider/flexslider.css">
        <link rel="stylesheet" href="static/assets/plugins/pretty-photo/css/prettyPhoto.css">
        <!-- Theme CSS -->
        <link id="theme-style" rel="stylesheet" href="static/assets/css/styles.css">
        <!-- This one should help with the slide show image height/width expansion problem -->
        <link id="theme-slides" rel="stylesheet" href="static/assets/css/slides-style.css">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
</head>
{# TODO - should class="home-page" be here? #}
<body class="home-page">
<div class="wrapper">
    <!-- ******HEADER****** -->
    <header class="header">
        {% block header %}
            <div class="top-bar">
                <div class="container">
                    <ul class="social-icons col-md-6 col-sm-6 col-xs-12 hidden-xs">
                        {% block social_icons %}
                            <li><a href="https://twitter.com/calpolyswift"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/CalPolySWIFT"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.youtube.com/user/CalPolySWIFT?feature=guide"><i
                                    class="fa fa-youtube"></i></a></li>
                            <li><a href="https://webchat.freenode.net?channels=swift"><i
                                    class="fa fa-wechat"></i></a></li>
                            <li><a href="http://www.linkedin.com/groups/Students-Interest-in-Future-Technology-4108262"><i
                                    class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://github.com/CalPolySWIFT"><i class="fa fa-github"></i></a></li>
                            <li><a href="https://plus.google.com/101472957999296961401/"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="skype:?chat&blob=y06t8Lpx2BEFct4zIZktdGxT4u-O02p5g_-39t9Tc5KJLf1d8OcaF_xDrcjNq7-qlvL1pZBdX_-TIg"><i class="fa fa-skype"></i></a></li>
                            <li class="row-end"><a href="#"><i class="fa fa-rss"></i></a></li>
                        {% endblock %}
                    </ul>
                    <!--//social-icons-->
                    <form class="pull-right search-form" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search the site...">
                        </div>
                        <button type="submit" class="btn btn-theme">Go</button>
                    </form>
                </div>
            </div>
            <!--//to-bar-->
            <div class="header-main container">
                <h1 class="logo col-md-4 col-sm-4">
                    <a href="index.html"><img id="logo" src="static/assets/images/SWIFT_Logo2.svg" height="60"
                                              alt="Logo"></a>
                </h1><!--//logo-->
                <div class="info col-md-8 col-sm-8">
                    <ul class="menu-top navbar-right hidden-xs">
                        <li class="divider"><a href="index.html">Home</a></li>
                        <li class="divider"><a href="faq.html">FAQ</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <!--//menu-top-->
                    <br/>

                    <div class="contact pull-right">
                        <p class="email"><i class="fa fa-envelope"></i><a href="mailto:swift@cpp.edu">swift@cpp.edu</a>
                        </p>
                    </div>
                    <!--//contact-->
                </div>
                <!--//info-->
            </div>
            <!--//header-main-->
        {% endblock %}
    </header>
    <!--//header-->

    <!-- ******NAV****** -->
    <nav class="main-nav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--//nav-toggle-->
            </div>
            <!--//navbar-header-->
            <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="index.html">Home</a></li>
                    <li class="nav-item"><a href="about.html">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0"
                           data-close-others="false" href="#">Membership <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="eboard.html">Eboard</a></li>
                            <li><a href="membership.html">Membership</a></li>
                            <li><a href="https://calpolypomona.collegiatelink.net/organization/telecommunications/DocumentLibrary/view/346974">Bylaws</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0"
                           data-close-others="false" href="#">Events <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="general_meetings.html">General Meetings</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Conferences <i class="fa fa-angle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="defcon.html">DEFCON</a></li>
                                    <li><a href="scale.html">SCALE</a></li>
                                    <li><a href="tutorials.html">LayerOne</a></li>
                                </ul>
                            </li>
                            <li><a href="http://fragnite.calpolyswift.org">Fragnite</a></li>
                            <li><a href="installfest.html">Installfest</a></li>
                            <li><a href="https://techsymposium.calpolyswift.org/">Tech Symposium</a></li>
                            <li><a href="http://www.hackpoly.com/">HackPoly</a></li>
                        </ul>
                    </li>
                    <!--//dropdown-->
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0"
                           data-close-others="false" href="#">Competitions <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.calpolyswift.org/ccdc/">CCDC</a></li>
                            <li><a href="ctfs.html">CTFs</a></li>
                            <li><a href="cyberpatriot.html">CyberPatriot</a></li>
                        </ul>
                    </li>
                    <!--//dropdown-->
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0"
                           data-close-others="false" href="#">Resources <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://blog.calpolyswift.org/">Blog </a></li>
                            <li><a href="https://wiki.calpolyswift.org/">Wiki </a></li>
                            <li><a href="tutorials.html">Tutorials</a></li>
                            <li><a href="jobs.html">Jobs</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="contact.html">Contact</a></li>
                </ul>
                <!--//nav-->
            </div>
            <!--//navabr-collapse-->
        </div>
        <!--//container-->
    </nav>
    <!--//main-nav-->

    <!-- ******CONTENT****** -->
    <div class="content container">
        {% block content %}{% endblock %}
    </div>
    <!--//content-->
</div>
<!--//wrapper-->

<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-3 col-sm-4 about">
                    <div class="footer-col-inner">
                        <h3>About</h3>
                        <ul>
                            <li><a href="about.html"><i class="fa fa-caret-right"></i>About us</a></li>
                            <li><a href="contact.html"><i class="fa fa-caret-right"></i>Contact us</a></li>
                            <li><a href="privacy.html"><i class="fa fa-caret-right"></i>Privacy policy</a></li>
                            <li><a href="terms-and-conditions.html"><i class="fa fa-caret-right"></i>Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                    <!--//footer-col-inner-->
                </div>
                <!--//foooter-col-->
                <div class="footer-col col-md-6 col-sm-8 newsletter">
                    <div class="footer-col-inner">
                        <h3>Join our mailing list</h3>

                        <p>Subscribe to get our weekly newsletter delivered directly to your inbox</p>

                        <form class="subscribe-form">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter your email"/>
                            </div>
                            <input class="btn btn-theme btn-subscribe" type="submit" value="Subscribe">
                        </form>

                    </div>
                    <!--//footer-col-inner-->
                </div>
                <!--//foooter-col-->
                <div class="footer-col col-md-3 col-sm-12 contact">
                    <div class="footer-col-inner">
                        <h3>Contact us</h3>

                        <div class="row">
                            <p class="adr clearfix col-md-12 col-sm-4">
                                <i class="fa fa-map-marker pull-left"></i>
                                <span class="adr-group pull-left">
                                    <span class="street-address">SWIFT @ Cal Poly Pomona</span><br>
                                    <span class="region">3801 West Temple Avenue</span><br>
                                    <span class="postal-code">Pomona, California 91768</span><br>
                                    <span class="country-name">US</span>
                                </span>
                            </p>

                            <p class="tel col-md-12 col-sm-4"><i class="fa fa-phone"></i>+1(909)869-7659</p>

                            <p class="email col-md-12 col-sm-4"><i class="fa fa-envelope"></i><a
                                    href="mailto:swift@cpp.edu">swift@cpp.edu</a></p>
                        </div>
                    </div>
                    <!--//footer-col-inner-->
                </div>
                <!--//foooter-col-->
            </div>
        </div>
    </div>
    <!--//footer-content-->
    <div class="bottom-bar">
        <div class="container">
            <div class="row">
                <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright @ 2015 SWIFT | Website
                    template by <a href="#">3rd Wave Media</a></small>
                <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
                    <li><a href="https://twitter.com/calpolyswift"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/CalPolySWIFT"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.youtube.com/user/CalPolySWIFT?feature=guide"><i class="fa fa-youtube"></i></a>
                    </li>
                    <li><a href="https://webchat.freenode.net?channels=swift"><i
                            class="fa fa-wechat"></i></a></li>
                    <li><a href="http://www.linkedin.com/groups/Students-Interest-in-Future-Technology-4108262"><i
                            class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/CalPolySWIFT"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://plus.google.com/101472957999296961401/"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="skype:?chat&blob=y06t8Lpx2BEFct4zIZktdGxT4u-O02p5g_-39t9Tc5KJLf1d8OcaF_xDrcjNq7-qlvL1pZBdX_-TIg"><i class="fa fa-skype"></i></a></li>
                    <li class="row-end"><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
                <!--//social-->
            </div>
            <!--//row-->
        </div>
        <!--//container-->
    </div>
    <!--//bottom-bar-->
</footer>
<!--//footer-->

<!-- *****CONFIGURE STYLE****** -->
<div class="config-wrapper hidden-xs">
    <div class="config-wrapper-inner">
        <a id="config-trigger" class="config-trigger" href="#"><i class="fa fa-cog"></i></a>

        <div id="config-panel" class="config-panel">
            <p>Choose Colour</p>
            <ul id="color-options" class="list-unstyled list-inline">
                {# TODO - Color logos? #}
                <li class="default active">
                    <a data-style="static/assets/css/styles.css"
                            {#data-logo="static/assets/images/logo.png"#}
                       href="#"></a></li>
                <li class="default"><a data-style="static/assets/css/styles-dark-blue.css"
                                       data-logo="static/assets/images/logo.png"
                                       href="#"></a></li>
                <li class="green"><a data-style="static/assets/css/styles-green.css"
                        {#data-logo="static/assets/images/logo-green.png"#}
                                     href="#"></a></li>
                <li class="purple"><a data-style="static/assets/css/styles-purple.css"
                        {#data-logo="static/assets/images/logo-purple.png"#}
                                      href="#"></a></li>
                <li class="red"><a data-style="static/assets/css/styles-red.css"
                        {#data-logo="static/assets/images/logo-red.png"#}
                                   href="#"></a></li>
            </ul>
            <!--//color-options-->
            <a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
        </div>
        <!--//configure-panel-->
    </div>
    <!--//config-wrapper-inner-->
</div>
<!--//config-wrapper-->

<!-- Javascript -->
{% block javascript %}
    <script type="text/javascript" src="static/assets/plugins/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="static/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/assets/plugins/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="static/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="static/assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="static/assets/plugins/pretty-photo/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="static/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="static/assets/plugins/jflickrfeed/jflickrfeed.min.js"></script>
    {% block added_javascript %}{% endblock %}
    <script type="text/javascript" src="static/assets/js/main.js"></script>
{% endblock %}
</body>
</html>

