<ul class="custom-list-style">
    <li><i class="fa fa-check"></i>Be a part of a large community of students spanning over 20 years.</li>
    <li><i class="fa fa-check"></i>Get exclusive access and discounts to professional and industry leading
        conferences and events, often saving hundreds of dollars in attendance to
        conferences like ToorCon, SCALE, LayerOne, and more!
    </li>
    <li><i class="fa fa-check"></i>Access to workshops and events placed throughout the year such as our Attack
        and Defense Workshops
    </li>
    <li><i class="fa fa-check"></i>Free attendance to Tech Symposium</li>
    <li><i class="fa fa-check"></i>Go on tours to industry leading companies and government organizations
        focusing on System Administration and Cyber Security
    </li>
    <li><i class="fa fa-check"></i>Be a part of one of the only university based DefCon Hacker Groups</li>
    <li><i class="fa fa-check"></i>Free food at meetings</li>
    <li><i class="fa fa-check"></i>Exclusive SWIFT membership shirt</li>
    <li><i class="fa fa-check"></i>Access to the latest job openings at many companies</li>
    <li><i class="fa fa-check"></i>Be a part of the club focusing on interactive and hands on projects.</li>
    <li><i class="fa fa-check"></i>Network with Industry professionals</li>
    <li><i class="fa fa-check"></i>And much more!</li>
</ul>