{% extends "layout.html" %}
{% block content %}
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">Membership</h1>

            <div class="breadcrumbs pull-right">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-label">You are here:</li>
                    <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                    <li class="current">Membership</li>
                </ul>
            </div>
            <!--//breadcrumbs-->
        </header>
        <div class="page-content">
            <div class="row page-row">
                <div class="course-wrapper col-md-8 col-sm-7">
                    <article class="course-item">
                        <p class="featured-image page-row"><img class="img-responsive"
                                                                src="static/assets/images/courses/course-1.jpg" alt=""/>
                        </p>

                        <div class="page-row box box-border">
                            <ul class="list-unstyled no-margin-bottom">
                                <li><strong>Start date:</strong> <em>24 Sep</em></li>
                                <li><strong>Duration: </strong> <em>1 academic year</em></li>
                                <li><strong>Fee: </strong> <em>$35</em></li>
                            </ul>
                        </div>
                        <!--//page-row-->
                        <div class="page-row">
                            <p>SWIFT Membership is a way of moving your college career to the next level. Joining is a
                                three step process, but should not take more then 10 minutes. Membership allows you to
                                participate in events and vote in elections, and much more! 
                            </p>
            
                            <p>Make your mark on the cyber seurity field and become swifter then ever!</p>

                            <p>
                                SWIFT Membership is $35 per year and is available to all Cal Poly Students and active
                                Cal State Students of any major. Membership lasts for the entire academic year!
                            </p>

                            <h3>Benefits of becoming a member</h3>
                            {% include "membership_benefits.html" %}

                            <h3>Join!</h3>
                            <ul class="custom-list-style">
                                <li>1. Fill out the Google form and provide your: Name, BroncoID, and E-Mail.</li>
                                <li>2. Sign up for SWIFT on our MyBar and wait for approval by going here LINK</li>
                                <li>3. Pay via EventBrite or in person at any of our events or meetings</li>
                                <li>4. Pick up your SWIFT Shirt once you are validated on MyBar</li>
                            </ul>
                            
                            <p>Note: There is a small fee for registering online due to processing fees imposed by the online payment provider we use. If you wish not to have this fee, please pay cash at a Meeting.</p>
                            <div class="col-lg-4">
                                <a class="btn btn-theme" href="http://goo.gl/forms/iBf29fa4hU">Step 1: Form</a>
                            </div>
                            <div class="col-lg-4">
                                <a class="btn btn-theme"
                                   href="https://calpolypomona.collegiatelink.net/organization/telecommunications">Step
                                    2: MyBar</a>
                            </div>
                            <div class="col-lg-4">
                                <a class="btn btn-theme" href="https://www.eventbrite.com/e/swift-registration-18913485745?ref=elink">Step 3: Pay</a>
                            </div>

                        </div>
                        <!--//page-row-->
                    </article>
                    <!--//course-item-->
                </div>
                <!--//course-wrapper-->
                {% include "sidebar1.html" %}
            </div>
            <!--//page-row-->
        </div>
        <!--//page-content-->
    </div><!--//page-->
{% endblock %}
