<section class="list-unstyled">
    <h1 class="section-heading text-highlight"><span class="line">Latest News</span></h1>

    <div class="section-content">
        <div class="item">
            <img class="img-rounded" src="static/assets/images/news/news-thumb-2.jpg" alt=""/>
            <h4 class="title"><a href="#">New SWIFT Website</a></h4>

            <p>That's right! You're looking at it now. After long hours of slaving away in front of a keyboard it's
                finally here. If you have any questions or comments please contact the SWIFT E-Board.</p>
        </div>
        <!--//news-item-->
        <div class="item">
            <img class="img-rounded" src="static/assets/images/news/news-thumb-1.jpg" alt=""/>
            <h4 class="title"><a href="#">First SWIFT Meeting</a></h4>

            <p>The first SWIFT meeting of the quarter is coming up. Join us Tuesday September 29th to start off the new
                quarter right, and free pizza.</p>
        </div>
        <!--//news-item-->
        <div class="item">
            <img class="img-rounded" src="static/assets/images/news/news-thumb-3.jpg" alt=""/>
            <h4 class="title"><a href="#">Welcome back Broncos!</a></h4>

            <p>We hope everyone has a great Fall quarter and look forward to seeing you all again this year.</p>
        </div>
        <!--//news-item-->
    </div>
    <!--//section-content-->
</section>