<section class="list-unstyled">
    <h1 class="section-heading text-highlight"><span class="line">Latest News</span></h1>

    <div class="section-content">
        <div class="item">
            <img class="img-rounded" src="static/assets/images/news/news-thumb-1.jpg" alt=""/>
            <h4 class="title"><a href="news-single.html">Phasellus scelerisque metus</a></h4>

            <p>Suspendisse purus felis, porttitor quis sollicitudin sit amet, elementum et tortor.
                Praesent lacinia magna in malesuada vestibulum. Pellentesque urna libero.</p>
        </div>
        <!--//news-item-->
        <div class="item">
            <img class="img-rounded" src="static/assets/images/news/news-thumb-2.jpg" alt=""/>
            <h4 class="title"><a href="news-single.html">Morbi at vestibulum turpis</a></h4>

            <p>Nam feugiat erat vel neque mollis, non vulputate erat aliquet. Maecenas ac leo
                porttitor, semper risus condimentum, cursus elit. Vivamus vitae libero tellus.</p>
        </div>
        <!--//news-item-->
        <div class="item">
            <img class="img-rounded" src="static/assets/images/news/news-thumb-3.jpg" alt=""/>
            <h4 class="title"><a href="news-single.html">Aliquam id iaculis urna</a></h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum mauris eget
                sapien consectetur pellentesque. Proin elementum tristique euismod. </p>
        </div>
        <!--//news-item-->
    </div>
    <!--//section-content-->
</section>