<ul class="logos">
    <li class="col-md-2 col-sm-2 col-xs-4"></li>
    <li class="col-md-2 col-sm-2 col-xs-4">
        <a href="https://linode.com/">
            <img class="img-responsive" src="static/assets/images/sponsor_logos/linode.png"
                 alt="Linode"/>
        </a>
    </li>
    <li class="col-md-2 col-sm-2 col-xs-4">
        <a href="http://www.oreilly.com/">
            <img class="img-responsive" src="static/assets/images/sponsor_logos/ORM_logo_box75_hex.png"
                 alt="O'Reilly"/>
        </a>
    </li>
    <li class="col-md-2 col-sm-2 col-xs-4">
        <a href="http://www.redhat.com/">
            <img class="img-responsive"
                 src="static/assets/images/sponsor_logos/RH_endorsement_supported_by.png"
                 alt="RedHat"/>
        </a>
    </li>
    <li class="col-md-2 col-sm-2 col-xs-4">
        <a href="https://www.taos.com/">
            <img class="img-responsive"
                 src="static/assets/images/sponsor_logos/taos_logo_scalable_DarkerPurple.png"
                 alt="Taos"/>
        </a>
    </li>
    <li class="col-md-2 col-sm-2 col-xs-4">
        <a href="sponsors.html">
            <i class="glyphicon glyphicon-chevron-right"></i>See More Sponsors
        </a>
    </li>
</ul>
