{% extends "layout.html" %}
{% block content %}
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">Sponsors</h1>

            <div class="breadcrumbs pull-right">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-label">You are here:</li>
                    <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                    <li class="current">Sponsors</li>
                </ul>
            </div>
            <!--//breadcrumbs-->
        </header>
        <div class="page-content">
            <h3 class="title">We would like to thank our generous sponsors for helping make SWIFT possible.</h3>
            <section class="awards">
                <section id="platinum_sponsors">
                    <h1>Platinum</h1>
                </section>
                <section id="gold_sponsors">
                    <h1>Gold</h1>

                    <div class="col-md-2 col-sm-2 col-xs-4">
                        <a href="http://www.redhat.com/">
                            <img class="img-responsive"
                                 src="static/assets/images/sponsor_logos/RH_endorsement_supported_by.png"
                                 alt="RedHat"/>
                        </a>
                    </div>
                </section>
                <section id="bronze_sponsors">
                    <h1>Bronze</h1>

                    <div class="col-md-2 col-sm-2 col-xs-4">
                        <a href="https://linode.com/">
                            <img class="img-responsive" src="static/assets/images/sponsor_logos/linode.png"
                                 alt="Linode" style="background-color: white"/>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-4">
                        <a href="http://www.oreilly.com/">
                            <img class="img-responsive"
                                 src="static/assets/images/sponsor_logos/ORM_logo_box75_hex.jpg"
                                 alt="O'Reilly"/>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-4">
                        <a href="https://www.taos.com/">
                            <img class="img-responsive"
                                 src="static/assets/images/sponsor_logos/taos_logo_scalable_DarkerPurple.jpg"
                                 alt="Taos"/>
                        </a>
                    </div>
                </section>
                <section id="">
                    <h1>Speakers and Workshop Organizers</h1>

                    <div class="col-md-2 col-sm-2 col-xs-4">
                        <a href="http://www.spacex.com/">
                            <img class="img-responsive"
                                 src="http://www.spacex.com/sites/all/themes/spacex2012/logo.png"
                                 alt="SpaceX" style="background-color: black"/>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-4">
                        <a href="https://www.coalfire.com/">
                            <img class="img-responsive"
                                 src="https://www.coalfire.com/medialib/assets/images/Homepage_v2_09_2014/logo-new.jpg"
                                 alt="CoalFire"style="background-color: black"/>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-4">
                        <a href="https://www.cigital.com/">
                            <img class="img-responsive"
                                 src="https://www.cigital.com/wp-content/themes/cigital/images/home-logo.svg"
                                 alt="Cigitel" style="background-color: black"/>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-4">
                        <a href="https://www.fbi.gov/">
                            <img class="img-responsive"
                                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/US-FBI-ShadedSeal.svg/2000px-US-FBI-ShadedSeal.svg.png"
                                 alt="FBI"/>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-4">
                        <a href="https://www.nsa.gov/">
                            <img class="img-responsive"
                                 src="https://upload.wikimedia.org/wikipedia/commons/0/04/National_Security_Agency.svg"
                                 alt="NSA"/>
                        </a>
                    </div>
                </section>
                <section id="previous_sponsors">
                    <h1>Previous Years Sponsors and Speakers</h1>
                    <div class="col-md-2 col-sm-2 col-xs-4">
                        Coming Soon!
                    </div>
                </section>

            </section>
        </div>
    </div>
{% endblock %}