<section class="testimonials">
    <h1 class="section-heading text-highlight">
        <span class="line">What are people saying about SWIFT?</span>
    </h1>

    <div class="carousel-controls">
        <a class="prev" href="#testimonials-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
        <a class="next" href="#testimonials-carousel" data-slide="next"><i
                class="fa fa-caret-right"></i></a>
    </div>
    <!--//carousel-controls-->
    <div class="section-content">
        <div id="testimonials-carousel" class="testimonials-carousel carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>SWIFT was a great community, and I enjoyed the passion that
                            everyone had to learning. SWIFT landed me my first job working at Northrop Grumman. I was
                            building high performance computing clusters with Linux, and I was one of the only interns
                            who had ever seen a bash prompt before. My Unix and code background that I got from SWIFT
                            continues to help to this day with my engineering job. <i class="fa fa-quote-right"></i></p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8"><span
                                class="name">Zach</span><br/><span
                                class="title">Northrop Grumman, Antenna Engineer</span>
                        </p>
                        <img class="profile col-md-2 pull-right"
                             src="static/assets/images/testimonials/zach.png" alt=""/>
                    </div>
                </div>
                <!--//item-->
                <div class="item">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>
                            School was fine but I knew that classes were not everything. With so many clubs on campus, I
                            decided to join SWIFT. Throughout school, I met so many people and formed, not only
                            connected with so many motivated and passionate people but I also found a world of
                            experience that I could not have gotten anywhere else. I owe it to SWIFT for my success and
                            cannot stop speaking highly enough of it. <i class="fa fa-quote-right"></i></p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8"><span
                                class="name">David</span><br/><span
                                class="title">Network Engineer</span>
                        </p>
                        <img class="profile col-md-2 pull-right"
                             src="static/assets/images/testimonials/david_NE.png" alt=""/>
                    </div>
                </div>
                <!--//item-->
                <div class="item">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>
                            I originally got into SWIFT through the Cyber Defense club at Cal Poly Pomona. I also got
                            very involved in the industry, went to conferences, and events. I also had the opportunity
                            to gain professional relationships with references for future and current jobs as well.
                            SWIFT is truly an awesome club, you will not regret it. <i class="fa fa-quote-right"></i>
                        </p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8"><span
                                class="name">Slob</span><br/><span
                                class="title">Network Analyst, CPP</span>
                        </p>
                        <img class="profile col-md-2 pull-right"
                             src="static/assets/images/testimonials/slobber.png" alt=""/>
                    </div>
                </div>
                <!--//item-->
                <div class="item">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>
                            I joined SWIFT because I was seeking technical and like minded friends on campus. My
                            involvement in the club helped me find exciting projects and competitions to get involved in
                            while allowing me to be surrounded by peers that I could work with and learn from. Overall,
                            SWIFT turned out to be an integral part of my college experience because it motivated me to
                            learn the technical topics I needed to succeed in my career while providing me with an
                            awesome group of friends I could identify with! <i class="fa fa-quote-right"></i></p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8"><span
                                class="name">Jase</span><br/><span
                                class="title">Incident Response / Forensics Analysist</span>
                        </p>
                        <img class="profile col-md-2 pull-right"
                             src="static/assets/images/testimonials/jase.png" alt=""/>
                    </div>
                </div>
                <!--//item-->
                <div class="item">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>
                            I enjoyed the weekly meetings where industry professionals and alumni would give talks on
                            topics related to security, networking, and other areas related to computers. SWIFT helped
                            in my career by introducing and teaching me about topics that were related to information
                            security, attending conferences where I could meet new people and learn about new topics,
                            and meeting alumni who provided advice. <i class="fa fa-quote-right"></i></p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8"><span
                                class="name">Justin</span><br/><span
                                class="title">Associate Consultant, Optiv Security - Attack and Penetration</span>
                        </p>
                        <img class="profile col-md-2 pull-right"
                             src="static/assets/images/testimonials/Eagle-silhouette-5.png" alt=""/>
                    </div>
                </div>
                <!--//item-->
                <div class="item">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>
                            Involvement in SWIFT gave me the skills and relationships needed to get a head start in my
                            career. Without SWIFT and CCDC, I wouldn't be where I am today. SWIFT was an integral part
                            of my university career. In addition, ALSAS was always a great opportunity to learn and
                            share Linux knowledge with other students. <i class="fa fa-quote-right"></i></p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8"><span
                                class="name">David</span><br/><span
                                class="title">Senior Network Engineer, NIC Partners Inc.</span>
                        </p>
                        <img class="profile col-md-2 pull-right"
                             src="static/assets/images/testimonials/Eagle-silhouette-5.png" alt=""/>
                    </div>
                </div>
                <!--//item-->
                <div class="item">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>
                            Network, Network, Network and go to Fragnite. Go to SWIFT meetings and make friends. Before
                            I graduated I attended the spring Fragnite and participated in league matches until
                            midnight. It was such a great event. I learned a lot from the SWIFT meetings and by hanging
                            out with the SWIFT Club. Honestly, SWIFT is much more than just a club it’s a community of
                            passionate students with a common goal to succeed. <i class="fa fa-quote-right"></i></p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8"><span
                                class="name">Ivan</span><br/><span
                                class="title">Computer Information Systems</span></p>
                        <img class="profile col-md-2 pull-right"
                             src="static/assets/images/testimonials/ivan.png"
                             alt=""/>
                    </div>
                </div>
                <!--//item-->
                <div class="item">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>
                            If I had not been in SWIFT and participated in CCDC I would not have the job that I have
                            today. SWIFT and CCDC were instrumental in helping me learn skills that I now use every day
                            at work and creating industry connections. That's why I look to SWIFT when I'm looking for
                            new junior engineers. <i class="fa fa-quote-right"></i></p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8"><span
                                class="name">Marcus</span><br/><span
                                class="title">Lead Security Engineer / Super Secret Place INC</span>
                        </p>
                        <img class="profile col-md-2 pull-right"
                             src="static/assets/images/testimonials/Eagle-silhouette-5.png" alt=""/>
                    </div>
                </div>
                <!--//item-->

            </div>
            <!--//carousel-inner-->
        </div>
        <!--//testimonials-carousel-->
    </div>
    <!--//section-content-->
</section>