<section class="testimonials">
    <h1 class="section-heading text-highlight">
        <span class="line">What alumni are saying about SWIFT</span>
    </h1>

    <div class="carousel-controls">
        <a class="prev" href="#testimonials-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
        <a class="next" href="#testimonials-carousel" data-slide="next"><i
                class="fa fa-caret-right"></i></a>
    </div>
    <!--//carousel-controls-->
    <div class="section-content">
        <div id="testimonials-carousel" class="testimonials-carousel carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>SWIFT was a great community, and I enjoyed the passion that
                            everyone had to learning. SWIFT landed me my first job working at Northrop Grumman. I was
                            building high performance computing clusters with Linux, and I was one of the only interns
                            who had ever seen a bash prompt before. My Unix and code background that I got from SWIFT
                            continues to help to this day with my engineering job. <i class="fa fa-quote-right"></i></p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8"><span
                                class="name">Zach</span><br/><span
                                class="title">Northrop Grumman, Antenna Engineer</span>
                        </p>
                        <img class="profile col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right"
                             src="static/assets/images/testimonials/zach.png" alt=""/>
                    </div>
                </div>
                <!--//item-->
                <div class="item">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>
                            I joined SWIFT to learn more about the field I wanted to go into. I enjoyed the community
                            and constant flow of new knowledge that even gave me benefit in my classes. SWIFT helped me
                            in my career ... it's one of the best clubs I've ever joined and I accredit it to much of my
                            success.<i class="fa fa-quote-right"></i>
                        </p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8">
                            <span class="name">Jeffrey</span><br/>
                            <span class="title">InfoSec Intern @ SpaceX</span>
                        </p>
                        <img class="profile col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right"
                             src="static/assets/images/testimonials/" alt=""/>
                    </div>
                </div>
                <!--//item-->
                <div class="item">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>
                            School was fine but I knew that classes weren't everything so I joined some friends in SWIFT
                            and through it found a world of experience I couldn't have gotten anywhere else and lasting
                            friendships. I owe SWIFT a debt for all of my success and can't speak highly enough of it.
                            <i class="fa fa-quote-right"></i></p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8"><span
                                class="name">David</span><br/><span
                                class="title">Network Engineer</span>
                        </p>
                        <img class="profile col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right"
                             src="static/assets/images/testimonials/david_NE.png" alt=""/>
                    </div>
                </div>
                <!--//item-->
                <div class="item">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>
                            I joined SWIFT so I could meet like-minded people who had an interest in computers and make
                            friends. I attribute a large part of my success to the club because being around other
                            motivated people ... can be incredibly rewarding and encouraging.
                            <i class="fa fa-quote-right"></i>
                        </p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8">
                            <span class="name">Matthew</span><br/>
                            <span class="title">Principal Software Security Consultant</span>
                        </p>
                        <img class="profile col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right"
                             src="static/assets/images/testimonials/" alt=""/>
                    </div>
                </div>
                <!--//item-->
                <div class="item">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>
                            SWIFT helped me find exciting projects and competitions to get involved in and be surrounded
                            by peers that I could work with and learn from. SWIFT turned out to be integral to my
                            college experience since it motivated me to learn the technical topics I needed to succeed
                            in my career while providing me with an awesome group of friends. <i
                                    class="fa fa-quote-right"></i></p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8"><span
                                class="name">Jase</span><br/><span
                                class="title">Incident Response / Forensics Analyst</span>
                        </p>
                        <img class="profile col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right"
                             src="static/assets/images/testimonials/jase.png" alt=""/>
                    </div>
                </div>
                <!--//item-->
                <div class="item">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>
                            SWIFT helped me in my career by introducing, teaching, and giving me hands on experience
                            with topics related to information security. SWIFT also allowed me to meet alumni who would
                            give advice and guidance on topics to study related to my information security interests. <i
                                    class="fa fa-quote-right"></i></p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8"><span
                                class="name">Justin</span><br/><span
                                class="title">Associate Consultant, Optiv Security - Attack and Pen</span>
                        </p>
                        <img class="profile col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right"
                             src="static/assets/images/testimonials/Eagle-silhouette-5.png" alt=""/>
                    </div>
                </div>
                <!--//item-->
                <div class="item">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>
                            Involvement in SWIFT gave me the skills and relationships to get a head start in my career.
                            Without SWIFT and Collegiate Cyber Defense Competition, I wouldn't be where I am today. The
                            Advanced Linux Systems Administration Seminars were always a great opportunity to learn and
                            share Linux with other students. <i class="fa fa-quote-right"></i></p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8"><span
                                class="name">David</span><br/><span
                                class="title">Senior Network Engineer, NIC Partners Inc.</span>
                        </p>
                        <img class="profile col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right"
                             src="static/assets/images/testimonials/Eagle-silhouette-5.png" alt=""/>
                    </div>
                </div>
                <!--//item-->
                <div class="item">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>
                            Network, Network, Network and go to Fragnite. Go to SWIFT meetings and make friends. I
                            learned a lot from the SWIFT meetings and by hanging out with the SWIFT Club. <i
                                    class="fa fa-quote-right"></i></p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8"><span
                                class="name">Ivan</span><br/><span
                                class="title">Redacted</span></p>
                        <img class="profile col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right"
                             src="static/assets/images/testimonials/ivan.png"
                             alt=""/>
                    </div>
                </div>
                <!--//item-->
                <div class="item">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>
                            If I had not been in SWIFT and participated in CCDC I would not have the job that I have
                            today. SWIFT and CCDC were instrumental in helping me learn skills that I now use every day
                            at work. That's why I look to SWIFT when I'm looking for new junior engineers. <i
                                    class="fa fa-quote-right"></i></p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8"><span
                                class="name">Marcus</span><br/><span
                                class="title">Lead Security Engineer / Super Secret Place INC</span>
                        </p>
                        <img class="profile col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right"
                             src="static/assets/images/testimonials/Eagle-silhouette-5.png" alt=""/>
                    </div>
                </div>
                <!--//item-->
                <div class="item">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>
                            SWIFT was a great way to meet fellow nerds. People who shared my interests and could push me
                            to learn even more. People who became my good friends and colleagues. My membership in SWIFT
                            got me involved in the Collegiate Cyber Defence Competition (CCDC) which directly led to my
                            job upon graduation. <i class="fa fa-quote-right"></i>
                        </p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8">
                            <span class="name">Jarrad</span><br/>
                            <span class="title">Redacted</span>
                        </p>
                        <img class="profile col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right"
                             src="static/assets/images/testimonials/" alt=""/>
                    </div>
                </div>
                <!--//item-->
                <div class="item">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>
                            Never in my wildest dreams did I think that I would be working for Cisco, but though the
                            experiences and people that I met in SWIFT helped me get to where I am today. Join SWIFT,
                            get involved, go to meetings/events/workshops, join CCDC, and network. You will not regret
                            it<i class="fa fa-quote-right"></i>
                        </p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8">
                            <span class="name">Aleajndro</span><br/>
                            <span class="title">TAC, Cisco Systems</span>
                        </p>
                        <img class="profile col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right"
                             src="static/assets/images/testimonials/" alt=""/>
                    </div>
                </div>
                <!--//item-->
                <div class="item">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>
                            I joined SWIFT because I wanted to learn more about my field while interacting with people
                            that are doing the same things as me. Some of the most enjoyable events were Linux
                            Installfest, CCDC, and Fragnite. SWIFT gave me multiple ways to meet and learn from people
                            in the industry.<i class="fa fa-quote-right"></i>
                        </p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8">
                            <span class="name">Jared</span><br/>
                            <span class="title">N/A</span>
                        </p>
                        <img class="profile col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right"
                             src="static/assets/images/testimonials/" alt=""/>
                    </div>
                </div>
                <!--//item-->
                <div class="item">
                    <blockquote class="quote">
                        <p><i class="fa fa-quote-left"></i>
                            SWIFT and CCDC helped me develop the skills I needed to succeed outside of school, with
                            skills I never would have gotten inside my major. I found a group of individuals with
                            similar interests that I could discuss challenges I was running into, and who helped me
                            learn with the challenges they had.<i class="fa fa-quote-right"></i>
                        </p>
                    </blockquote>
                    <div class="row">
                        <p class="people col-md-8 col-sm-3 col-xs-8">
                            <span class="name">Christopher</span><br/>
                            <span class="title">Bank of America, Information Security Specialist</span>
                        </p>
                        <img class="profile col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right"
                             src="static/assets/images/testimonials/" alt=""/>
                    </div>
                </div>
                <!--//item-->

            </div>
            <!--//carousel-inner-->
        </div>
        <!--//testimonials-carousel-->
    </div>
    <!--//section-content-->
</section>